.text {
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border-radius: 12px;
}

input{
    border-radius: 12px;
}

a:visited{
    color: blue;
}

#dropdown{
    border-radius: 12px;
}